.form-section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  padding: 10px;
}
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
/* inputs */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d9195;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
ul {
    padding-left: 0;
    
}

.edit-sign-out-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.edit-sign-out-form-group span {
  color: red;
  font-weight: 600;
}
.edit-sign-out-form-group span:hover {
  color: rgb(227, 9, 9);
  cursor: pointer;
  text-decoration: underline;
}

.edit-sign-out-form-group p {
  color: #0b5ed7;
  font-weight: 600;
}
.edit-sign-out-form-group p:hover {
  color: #3506f3;
  font-weight: 600;
  cursor: pointer;
text-decoration: underline;
}
.sell-rent-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.rent-sell-link{
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.rent-sell-link:hover{
  color: white;
 
}
.home-icon{
  font-size:30px ;
  margin-right: 10px;
}
@media screen and (min-width: 800px) {
  section {
    font-size: 20px;
  }
  .form-container {
    min-width: 70%;
    padding: 30px;
  }
}
