.li {
  max-width: 30%;
  height: 300px;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 10px;
  display: table;
   box-shadow:0px 0px 10px -5px #9C9C9C;
   border-radius: 3px;
}

.card {
  background-color: white;
  border: none;
  box-shadow: 5px 5px 15px 5px #e2e1e1;
  cursor: default;
}

.content {
  width: 250px;
  height: 180px;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}
img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  padding: 0;
  margin: auto;

}
img:hover {
  cursor: pointer;
  scale: 1.5;
  transition-timing-function: ease-in-out;
  transition-duration: 0.8s;
}
a {
  text-decoration: none;
}
.moment {
  box-shadow: 5px 5px 15px 5px #dbdade;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 5px;
  font-size: 80%;
  position: absolute;
  background-color: #3377cc;
  text-transform: uppercase;
  color: white;
}
.address {
  margin-top: 15px;
  text-align: center;
  color: rgb(105, 104, 104);
  text-align: center;
  max-width: 80%;
  cursor: pointer;
   width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title {
  font-size: 20px;
  color: #29526b;
  font-weight: 600;

   width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
