.div-container{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow:8px 5px 16px 5px rgba(0,0,0,0.35) ;
    max-width:100% ;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.logo-container{
   display: flex;
   flex-direction: column; 
  max-width: 50%;
}
.logo-image{
    width: 25%;
    cursor: pointer;

}
.nav-menu-container ul{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    min-width: 50%;
   list-style: none;
}

.nav-menu-container a{
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    color: gray;
    border-bottom: 3px solid rgb(241, 236, 236);
    margin-left: 10px;
    cursor: pointer;
     text-decoration: none;
}
.nav-menu-container a.active{
     padding: 5px;
     margin-left: 10px;
    cursor: pointer;
  padding: 5px;
    font-size: medium;
    font-weight: bold;
   border-bottom: 3px solid red;
}