.radio-btn-row{
    display: flex;
    justify-content: center;
}
.radio-btn-col{
    text-align: center;
    background-color: rgb(184, 188, 188);
    max-width: fit-content;
    margin: 5px;
    border-radius: 5px;
    border-bottom: solid 1px grey;
}


